In [1]:
# Import libraries
import requests
import pandas as pd

In [10]:
# Get everything
all = requests.get('http://localhost:9000/all/')
df1 = pd.DataFrame.from_dict(all.json())
df1.head()

,episode,line,scene,season,speaker,title
0,1,All right Jim. Your quarterlies look very good...,1,1,Michael,Pilot
1,1,"Oh, I told you. I couldn't close it. So...",1,1,Jim,Pilot
2,1,So you've come to the master for guidance? Is ...,1,1,Michael,Pilot
3,1,"Actually, you called me in here, but yeah.",1,1,Jim,Pilot
4,1,"All right. Well, let me show you how it's done.",1,1,Michael,Pilot

In [4]:
# Get everything from final episode
finale = requests.get('http://localhost:9000/episode/finale/')
df2 = pd.DataFrame.from_dict(finale.json())
df2.head()

,episode,line,scene,season,speaker,title
0,24,The documentary series finished airing ages ag...,8043,9,Dwight,Finale
1,24,We're getting bonus footage for the DVD.,8043,9,Camera Man,Finale
2,24,"pff, Nobody buys DVDs anymore.",8043,9,Dwight,Finale
3,24,It'll be a pledge gift.,8043,9,Camera Man,Finale
4,24,PBS. The propaganda wing of Bill and Melinda G...,8043,9,Dwight,Finale

In [6]:
# Get everything from Jim (character) 
jim = requests.get('http://localhost:9000/character/jim/')
df3 = pd.DataFrame.from_dict(jim.json())
df3.head()

,episode,line,scene,season,speaker,title
0,1,"Oh, I told you. I couldn't close it. So...",1,1,Jim,Pilot
1,1,"Actually, you called me in here, but yeah.",1,1,Jim,Pilot
2,1,My job is to speak to clients on the phone abo...,6,1,Jim,Pilot
3,1,Whassup! I still love that after seven years.,7,1,Jim,Pilot
4,1,Nothing.,7,1,Jim,Pilot

In [7]:
# Get all characters and their total lines
characters = requests.get('http://localhost:9000/characters/')
df3 = pd.DataFrame.from_dict(characters.json())
df3.head()

   speaker  total_lines
0  Michael        10851
1   Dwight         6789
2      Jim         6259
3      Pam         5005
4     Andy         3733

In [20]:
# Get just dialogues from episode 5, season 1
episode_5 = requests.get('http://localhost:9000/lines/episode/basketball/')
df4 = pd.DataFrame.from_dict(episode_5.json())
df4.head()

                                                line
0                                    Hey, you ready?
1  All right, all right, secret sign. Hey, Ryan. ...
2                                           Michael!
3  Today at lunchtime we're going to be playing t...
4  Pam, Pam, thank you ma'am. Messages, please. T...

In [21]:
# Get the sentiment analysis of each line from episode 5, season 1
sa_episode_5 = requests.get('http://localhost:9000/sa/episode/basketball/')
df5 = pd.DataFrame.from_dict(sa_episode_5.json())
df5.head()

        0
0  0.3612
1  0.9029
2  0.0000
3  0.9195
4  0.7430

In [22]:
# Get just dialogues from Pam (character)
pam = requests.get('http://localhost:9000/lines/character/pam/')
df6 = pd.DataFrame.from_dict(pam.json())
df6.head()

                    line
0    Well. I don't know.
1                  What?
2  Uh, yeah. Just a fax.
3   You haven't told me.
4   Uh, yeah, the one...

In [23]:
# Get the sentiment analysis of each line from Pam (character)
sa_pam = requests.get('http://localhost:9000/sa/character/pam/')
df7 = pd.DataFrame.from_dict(sa_pam.json())
df7.head()

        0
0  0.2732
1  0.0000
2  0.2960
3  0.0000
4  0.2960

In [24]:
# Post a line of "new season 10"
headers = {'season': '10', 'episode': '1', 'title': 'New season', 
           'scene': '1', 'speaker': 'Michael', 'line': 'Whassup!'}

requests.post('http://localhost:9000/post', params=headers)